@import url("https://fonts.googleapis.com/css?family=Open+Sans");

:root {
  --primary: rgb(34 38 68);
  --bg-white: rgb(245, 245, 245);
  --bg-gray: rgb(224, 224, 224);
  --bg-primary: var(--primary);
  --bg-hover: rgba(64, 64, 64, 0.06);
  --color-primary: var(--primary);
  --color-gray: rgb(64, 64, 64);
  --white: #fff;
  --card-border: rgba(23, 23, 23, 0.06);
  --box-shadow: rgba(0, 0, 0, 0.1);
  --text-boder: rgb(212, 212, 212);
  --link-border: rgb(44, 44, 46);
  --link-border-primary: var(--primary);
  --header-height: 60px;
  --padding-layout: 70px;
  --max-width: 1024px;

  --size-05: 0.5rem;
  --size-08: 0.8rem;
  --size-09: 0.9rem;
  --size-1: 1rem;
  --size-1-4: 1.4rem;
  --size-1-5: 1.5rem;
  --size-2: 2rem;

  --radius: 0.4rem;
  --radius-large: 0.7rem;
  --radius-xl: 2rem;

  --font-open-sans: "Open Sans", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: var(--font-open-sans);
  height: 100%;
}

body {
  font-size: var(--size-1);
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background: var(--bg-white);
}

/******************************************************
2. header
*******************************************************/
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: var(--white);
  box-shadow: 0 1px 1px var(--box-shadow);
  z-index: 10;
}

.header__container {
  max-width: var(--max-width);
  padding: 0 1rem;
  margin: auto;
  display: flex;
  align-items: center;
  position: relative;
  height: var(--header-height);
}

.header__hamburger {
  background-color: var(--bg-white);
  cursor: pointer;
  border: none;
}

.header__logo {
  display: inline-flex;
  align-self: center;
  align-items: center;
  text-decoration: none;
}

.header__img {
  max-width: 60px;
  width: 60px;
  width: auto;
  display: inline-block;
  outline: 0;
}

.header__search {
  display: none;
  max-width: 420px;
  margin: 0 1rem;
  flex: 1 auto;
}

.header__box {
  display: flex;
  margin-left: auto;
}

.header__nav {
  display: flex;
  align-items: center;
}

/***************************************
4. Content Layout
***************************************/

.content-layout {
  width: 100%;
  max-width: var(--max-width);
  margin: 0 auto;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto;
  grid-template-areas: "main";
  gap: 1rem;
  padding-top: var(--padding-layout);
}

.navbar {
  display: none;
}

.sidebar {
  display: none;
}

.content-login {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/************************************************
3. Botonera registro
*************************************************/
.btn__search {
  display: block;
  color: var(--color-gray);
}

.btn__login {
  display: none;
}

.btn__register {
  display: block;
}

/********************************************
6. Forms
**********************************************/
.form {
  display: flex;
  flex-flow: column wrap;
  gap: var(--size-1-5);
}

.form__group {
}

.form__input {
  outline: none;
  background-color: #f9f9f9;
  padding: 7px 10px;
  border: 1px solid;
  border-color: #cdcdc7;
  border-radius: 5px;
  padding: var(--size-05);
  font-size: 14px;
  color: var(--grey--color);
  height: 40px;
  width: 100%;
}

.form__label {
  cursor: pointer;
}

.form__checkbox {
  width: 24px;
  height: 24px;
  color: var(--primary-color);
  vertical-align: middle;
  -webkit-appearance: none;
  background: none;
  border: 0;
  outline: 0;
  flex-grow: 0;
  border-radius: 30%;
  background-color: var(--white);
  transition: background 300ms;
  cursor: pointer;
}

.form__checkbox::before {
  content: "";
  color: transparent;
  display: block;
  width: inherit;
  height: inherit;
  border-radius: inherit;
  border: 0;
  background-color: transparent;
  background-size: contain;
  box-shadow: inset 0 0 0 1px var(--bg-gray);
}

.form__checkbox:checked {
  background-color: currentcolor;
}

.form__checkbox:checked::before {
  box-shadow: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E %3Cpath d='M15.88 8.29L10 14.17l-1.88-1.88a.996.996 0 1 0-1.41 1.41l2.59 2.59c.39.39 1.02.39 1.41 0L17.3 9.7a.996.996 0 0 0 0-1.41c-.39-.39-1.03-.39-1.42 0z' fill='%23fff'/%3E %3C/svg%3E");
}

/******************************************************
5. inputs group
*******************************************************/

.fields {
  display: flex;
  position: relative;
}

.fields__text {
  width: 100%;
  height: 38px;
  border: 1.5px solid var(--text-boder);
  border-radius: 0.4rem;
  outline: none;
  font-size: var(--size-09);
  line-height: 1.5;
  padding: 12px;
}

.fields__button {
  position: absolute;
  padding: 0.5rem;
  margin-top: 0;
  left: auto;
  top: 1px;
  right: 1px;
  bottom: 1px;
  border: none;
  background: none;
  cursor: pointer;
}

.fields__icon {
  font-size: var(--size-1);
}

/********************************************
6. Botones
**********************************************/

.btn {
  background: var(--primary);
  color: var(--white);
  text-decoration: none;
  text-align: center;
  padding: 8px;
  border: 1px solid;
  border-radius: var(--radius);
}

.btn:hover {
  color: var(--bg-primary);
  background: var(--bg-white);
  border: 1px solid;
  border-color: var(--bg-primary);
}

.btn--link {
  background: var(--white);
  border-color: var(--white);
  text-decoration: none;
  text-align: center;
  color: var(--color-gray);
  padding: 8px;
  border-radius: var(--radius);
}

.btn--link:hover {
  background: var(--bg-hover);
  border-color: var(--bg-hover);
}

.btn-md {
  padding: var(--size-08);
  font-size: var(--size-09);
}

.btn-lg {
  padding: var(--size-09);
  font-size: var(--size-1-4);
}

/************************************** 
7. Card
**************************************/

.card {
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  min-width: 0;
  background: var(--white);
  box-shadow: 0 0 0 1px var(--card-border);
  border-radius: var(--radius);
  padding: var(--size-05);
  margin: 0 0 var(--size-08);
}

.card__header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--card-border);
  padding: var(--size-05);
}

.card__title {
  display: block;
  font-size: var(--size-1);
  font-weight: 700;
  color: var(--color-gray);
  line-height: var(--size-1-5);
  text-decoration: none;
}

.card__body {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  padding: var(--size-05);
}

.card__content {
}

.card__text {
  color: var(--color-gray);
  line-height: var(--size-1-4);
  font-size: var(--size-09);
  margin-bottom: var(--size-05);
}

/**********************************************
8. Tags
**********************************************/

.tags {
  display: flex;
  flex-wrap: wrap;
  color: var(--color-gray);
}

.tags__link {
  display: inline-flex;
  align-items: center;
  white-space: nowrap;
  flex-wrap: nowrap;
  padding: var(--size-05);
  text-decoration: none;
  font-size: var(--size-08);
  color: var(--color-gray);
}

.tags__link:hover {
  background: var(--bg-hover);
  border-radius: var(--radius);
}

.tags__span {
  color: var(--color-primary);
}

/*********************************************
9. Listas
**********************************************/

.list {
  display: block;
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.list__item {
  color: var(--color-gray);
  border-bottom: 1px solid var(--card-border);
}

.list__item:last-child {
  border-bottom: 0;
}

.list__link {
  display: block;
  text-decoration: none;
  padding: var(--size-08);
  font-size: var(--size-09);
  color: var(--color-gray);
}

.list__link:hover {
  background: var(--bg-hover);
}

.list__link--secundary {
  font-size: var(--size-08);
  padding-top: var(--size-05);
}

/*************************************
10. Login
*************************************/
.login {
  width: 320px;
}

/*********************************************************
1. Comunes
**********************************************************/
.mr-1 {
  margin-right: var(--size-05);
}

.mr-2 {
  margin-right: var(--size-1);
}

.ml-1 {
  margin-left: var(--size-05);
}

.ml-2 {
  margin-left: var(--size-1);
}

.mt-1 {
  margin-top: var(--size-05);
}

.mt-2 {
  margin-top: var(--size-1);
}

.mb-1 {
  margin-bottom: var(--size-05);
}

.mb-2 {
  margin-bottom: var(--size-1);
}

.mx-1 {
  margin-left: var(--size-05);
  margin-right: var(--size-05);
}

.mx-2 {
  margin-left: var(--size-1);
  margin-right: var(--size-1);
}

.p-1 {
  padding: var(--size-05);
}

.p-2 {
  padding: var(--size-1);
}

.dispaly1 {
  font-size: var(--size-1);
}

.display2 {
  font-size: var(--size-1-5);
}

.display3 {
  font-size: var(--size-2);
}

.justify-center {
  justify-content: center;
}

.text-center {
  text-align: center;
}

.border-none {
  border: 0;
}

.border--bottom {
  align-self: center;
  width: 90%;
  height: 1px;
  box-shadow: 0px 1px 1px var(--bg-gray);
}

.decoration-none {
  text-decoration: none;
}

.color-primary {
  color: var(--bg-primary);
}

.sticky {
  position: sticky;
  top: var(--header-height);
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.grid {
  display: grid;
}

.gap-1 {
  gap: var(--size-05);
}

.center {
  justify-content: center;
}

/**
    Mostrar en celulares
    Ocultar en Computadores
**/
.hidden {
  display: block;
}

@media (min-width: 780px) {
  .navbar {
    display: block;
  }

  .content-layout {
    grid-template-rows: auto;
    grid-template-columns: 220px auto;
    grid-template-areas: "navbar main";
  }
}

@media (min-width: 1024px) {
  .hidden {
    display: none;
  }

  .header__search {
    display: block;
  }

  .btn__search {
    display: none;
  }

  .btn__login {
    display: block;
  }

  .sidebar {
    display: block;
  }

  .content-layout {
    grid-template-rows: auto;
    grid-template-columns: 240px 2fr 1fr;
    grid-template-areas: "navbar main sidebar";
  }
}
