.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Dos columnas */
  gap: 20px;
  text-align: center; /* Alineación de texto en el centro */
}

.custom-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.custom-card img {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #ddd;
}

.custom-card .col {
  padding: 10px;
}

@media (max-width: 1024px) {
  .container {
    grid-template-columns: 1fr; /* Cambia a una sola columna */
  }
}
